doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
		title Colored Tiles
		//script(src='https://yandex.ru/games/sdk/v2')
	body
		canvas#colored-tiles(width='700' height='1246')


